<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-page">
        <h1>Welcome To The Bank Management System</h1>
        <h2 class="tagline">Empowering Financial Control, Effortlessly</h2>
        <a href="{{ url_for('login') }}" class="submit-btn">Login</a>
        <div class= "welcome-img"></div>
    </div>
    
</body>
</html>