<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Management System</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <h1>Welcome to Bank Management System</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('create_bank') }}">Create Bank</a></li>
            <!-- <li><a href="{{ url_for('create_bank') }}">Create Account</a></li> -->

            <!-- Add links to other sections -->
        </ul>
    </nav>
</body>
</html>
