<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-page">
        <div class="login-container">
            <h2>Login As</h2>
            <div class="btn-group">
                <button onclick="showForm('employee')" class="submit-btn">Employee</button><br>
                <button onclick="showForm('customer')" class="submit-btn">Customer</button>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
